html {
    background: radial-gradient(rgb(205, 147, 147), rgb(181, 97, 97));
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: center; 
    height: 100%;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
}
button {
    cursor: pointer;
    font-size: 25px;
    border-radius: 10px;
}
button:hover {
    background: rgb(161, 189, 211);
}
ul, form {
    list-style: none;
    font-size: 22px;
}
.welcome-message {
    position: relative;
    background: url('../images/flag.jpg');
    background-size: 100% 100%;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    width: calc(100% - 90px);
    border: 1px solid white;
    color: rgb(255, 255, 255);
}
.question-body {
    margin: auto;
    position: relative;
    min-height: 500px;
    width: calc(100% - 90px);
    background: radial-gradient(rgb(218, 118, 116), rgb(235, 134, 123));
    border-radius: 10px;
    border: 1px solid white;
}
.politiquiz {
    font-size: 100px;
    padding: 80px;
}
.answers label:hover {
    color: rgb(169, 229, 244);
}
.question-subject {
    color: rgb(151, 218, 255);
}
.question-question {
    color: rgb(220, 250, 255);
}