html {
    background: radial-gradient(rgb(205, 147, 147), rgb(181, 97, 97));
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: center; 
    height: 100%;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
}
button {
    cursor: pointer;
    font-size: 25px;
    border-radius: 10px;
}
button:hover {
    background: rgb(161, 189, 211);
}
ul, form {
    list-style: none;
    font-size: 22px;
}
.welcome-message {
    position: relative;
    background: url('../images/flag.jpg');
    background-size: 100% 100%;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    width: calc(100% - 90px);
    border: 1px solid white;
    color: rgb(255, 255, 255);
}
.question-body {
    margin: auto;
    position: relative;
    min-height: 500px;
    width: calc(100% - 90px);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    color: rgb(31, 31, 31);
}
.politiquiz {
    font-size: 100px;
    padding: 80px;
}
.answers label:hover {
    color: rgb(97, 158, 250);
}
.question-subject {
    color: rgb(145, 53, 43);
}
.question-question {
    color: rgb(58, 85, 130);
}
.result-body {
    width: calc(100% - 90px);
    margin: auto;
    position: relative;
    min-height: 500px;
    box-shadow: 2px 2px 2px gray;
    border-radius: 10px;
    padding-top: 50px;
}
.result-body h1 {
    font-size: 35px;
    color: rgb(255, 251, 147);
}
.result-body p {
    font-size: 22px;
}
.party-pic {
    border: 1px solid white;
    width: 300px;
    height: 300px;
}