html {
    background: radial-gradient(rgb(205, 147, 147), rgb(181, 97, 97));
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: center; 
    height: 100%;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
}
button {
    cursor: pointer;
    font-size: 25px;
    border-radius: 10px;
}
button:hover {
    background: rgb(161, 189, 211);
}
ul, form {
    list-style: none;
    font-size: 22px;
}
.welcome-message {
    position: relative;
    background: url('../images/flag.jpg');
    background-size: 100% 100%;
    margin: auto;
    margin-top: 100px;
    min-height: 420px;
    border-radius: 2px;
    width: calc(100% - 90px);
    color: rgb(255, 255, 255);
}
.question-body {
    margin: auto;
    position: relative;
    width: calc(100% - 90px);
    background: radial-gradient(rgb(205, 147, 147), rgb(181, 97, 97));
    border-radius: 5px;
}
.politiquiz {
    font-size: 80px;
    padding-top: 90px;
}
.answers label:hover {
    color: rgb(190, 213, 249);
}
.question-subject {
    color: rgb(255, 253, 139);
}
.question-question {
    color: rgb(183, 203, 255);
}
.result-body {
    width: calc(100% - 90px);
    margin: auto;
    position: relative;
    min-height: 500px;
    border-radius: 10px;
    padding-top: 50px;
}
.result-body h1 {
    font-size: 35px;
    color: rgb(255, 251, 147);
}
.result-body p {
    font-size: 22px;
    color: rgb(227, 250, 254);
}
.party-pic {
    width: 300px;
    height: 300px;
}
.start-button{
    background:rgb(24, 68, 162);
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  .start-button:hover{
    background:rgb(66, 122, 187);
    color:rgb(255, 255, 255);
  }
  .start-button:before,.start-button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: rgb(255, 255, 255);
    transition:400ms ease all;
  }
  .start-button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .start-button:hover:before,.start-button:hover:after{
    width:100%;
    transition:800ms ease all;
  }

@media screen and (min-width: 1500px) {
    body {
     width: 1500px;
     margin: auto;
    }
 }
 @media screen and (max-width: 800px) {
    .politiquiz {
        font-size: 50px;
    }
 }
 @media screen and (max-width: 500px) {
    .politiquiz {
        font-size: 30px;
    }
    .welcome-message {
        width: 100%;
    }
 }